
.intro {
  font-family: monospace;
  font-size: 25px;
  background-color: blue;
}

.list {
  font-size: 20px;
  font-family: serif;
  background-color: #b3395c;
  text-align: center;
  border-style: dotted;
}
